@font-face {
    font-family: "DINCond-Black";
    src: url("../static/DINCond-Black.otf");
}

#editTime {
    margin-top: 1em;
}

.button {
    box-shadow: 0 .5rem 1rem rgba(black, .15);
}


/* .container {
    height: 85vh;
    width: 100vw;
    text-align: center;
    position: fixed;
    top: 15vh;
    margin: 0 auto;
} */

.acounter {
    position: fixed;
    top: 15vh;
    display: inline-block;
    margin: 10vh;
}

.tmr {
    height: 15vh;
}

.card {
    display: inline-block;
    /* position: relative;
    top: 20vh;
    padding: 10px;
    border-color: transparent; */
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    /* opacity: 1.0; */
}

.info-text {
    font-size: 1rem;
    color: #595d6e;
}

#edit_card {
    width: 300px;
    position: fixed;
    margin-top: 20px;
    bottom: 10vh;
    /* text-align: center; */
}

#info {
    position: fixed;
    top: 1vh;
    left: 1vh;
    height: 3vh;
    opacity: 70%;
}

#saying {
    margin: 0 auto;
    color: #7d8088;
    text-align: center;
}

#copyright {
    margin: 0 auto;
    position: fixed;
    bottom: 2vh;
    color: #7d8088;
}

#covid {
    display: none;
    text-align: center;
    position: fixed;
}