<!DOCTYPE html>
<html>
    <head>

    </head>

    <body onload="start();">
        <h1>Hello, World!</h1>
        <p><div id="time"></p>
        <script>
            function displayTime(){
                var date = new Date();
                var yyyy=date.getFullYear();
                var MM=date.getMonth();
                var dd=date.getDate();
                var hh=date.getHours();
                var mm=date.getMinutes();
                var ss=date.getSeconds();
                var ms=date.getMilliseconds();
                var time=document.getElementById("time");
                time.innerHTML = ("Time: "+yyyy+"-"+MM+"-"+dd+" "+hh+":"+mm+":"+ss+"."+ms);
            }

            function start(){
                window.setInterval("displayTime()",1);
            }
        </script>
    </body>
</html>