{% extends "base.html" %}
{% block title %}网站首页{% endblock %}
{% block body %}
{{ super() }}
<script type="text/javascript" src="../static/count.js"></script>
<div id="title">待定</div>
<div id="timer">Loading...</div>
<!-- <div id="percent">Loading...</div> -->
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10"
        aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="bar1"></div>
</div>
<div id="editTime" class="shadow p-3 mb-5 bg-white rounded">
    <div>开学时间不对？在此修改 → </div>
    <input type="datetime-local" value="2022-2-13 16:30:00" id="edit" />
    <button type="button" onclick="submitEdit();" class="btn btn-primary" id="submit">提交</button>
    <button type="button" onclick="resetHolidayEnd();" class="btn btn-light" id="reset">恢复默认</button>
</div>


{% endblock %}